@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.search-bar {
  @include flex(row, flex-start, center);
  height: 72px;
  background: $bg-gray;
  border-radius: $radius-max;
  padding: 0 $spacing-md;
  .search-icon {
    font-size: $font-md;
    margin-right: $spacing-sm;
    color: $text-placeholder;
  }
  .input {
    flex: 1;
    height: 100%;
    font-size: $font-base;
    color: $text-primary;
    &::placeholder {
      color: $text-placeholder;
    }
  }
  .clear-btn {
    width: 40px;
    height: 40px;
    @include flex(row, center, center);
    background: $text-placeholder;
    border-radius: 50%;
    margin-left: $spacing-sm;
    text {
      color: $bg-white;
      font-size: $font-sm;
      line-height: 1;
    }
  }
}