// 星级筛选组件
.star-filter {
  margin-top: 1rem;

  .star-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0.6rem;

    .title-text {
      color: #111;
      font-weight: 500;
      fontSize: 0.7rem;
    }

    .title-desc {
      display: flex;
      align-items: center;
      color: #888;
      fontSize: 0.6rem;

      .desc-icon {
        margin-left: 0.2rem;
        font-size: 0.7rem;
      }
    }
  }

  .star-options {
    margin-top: 0.6rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0 0.6rem;

    .star-option-item {
      width: 33.3%;
      min-height: 2.2rem;
      padding: 0 0.2rem;
      margin-bottom: 0.4rem;

      .option-btn {
        width: 100%;
        padding: 0.375rem 0;
        border-radius: 0.2rem;
        background-color: #f5f7fa;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        .option-label {
          color: #111;
          font-weight: 400;
          line-height: 0.85rem;
          font-size: 0.65rem;
          text-align: center;
        }

        .option-desc {
          color: #888;
          font-weight: 400;
          line-height: 0.55rem;
          font-size: 0.5rem;
          margin-top: 0.1rem;
        }

        &.active {
          background-color: #bfd0fc;
        }
      }
    }
  }

  .star-desc {
    margin: 0.6rem;
    font-size: 0.55rem;
    color: #888;
    line-height: 0.8rem;
  }
}