.hotel-list-page {
  min-height: 100vh;
  background-color: #f5f5f5;
  &.tabbar-hidden {
    padding-bottom: 0;
  }
}
.nav-bar {
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px;
  background-color: #fff;
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.04);
  .back-btn {
    z-index: 99;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    color: #ff9854;
    font-size: 20px;
  }
  .search-bar-wrapper {
    flex: 1;
    padding: 0 20px;
    margin-right: 60px;
  }
  .more-btn {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    // padding: 10px;
    .more-text {
      font-size: 16px;
      color: #666;
    }
  }
}
.main-content {
  height: calc(100vh - 130px);
}