@import '../../styles/variables.scss';

.price-tag {
  display: inline-flex;
  align-items: baseline;
  .symbol {
    font-size: $font-sm;
    margin-right: 2px;
  }
  .amount {
    font-weight: bold;
  }
  .unit {
    font-size: $font-xs;
    color: $text-secondary;
    margin-left: 4px;
  }
  .original {
    font-size: $font-xs;
    color: $text-placeholder;
    text-decoration: line-through;
    margin-left: $spacing-sm;
  }
  &.size-small {
    .symbol { font-size: $font-xs; }
    .amount { font-size: $font-base; }
  }
  &.size-medium {
    .symbol { font-size: $font-sm; }
    .amount { font-size: $font-lg; }
  }
  &.size-large {
    .symbol { font-size: $font-base; }
    .amount { font-size: $font-xxl; }
  }
  &.highlight {
    .symbol, .amount {
      color: $danger-color;
    }
  }
}